.comparison-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.comparison-header {
  text-align: center;
}

.algorithm,
.algorithm-selected {
  list-style: none;
  margin-top: 1rem;
  cursor: pointer;
}

.algorithm-selected {
  color: var(--highlight-color);
}
