.error-container {
  padding: 150px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  color: var(--tertiary-brighty-color);
}

.error-title {
  font-size: 10rem;
  text-align: center;
  color: var(--highlight-color);
}

.error-text {
  text-align: center;
  max-width: 700px;
}

.error-button {
  font-size: 2rem;
  gap: 7px;
}

.error-button svg {
  width: 42px;
  height: 42px;
}

@media (width <= 470px){
  .error-title {
    font-size: 7rem;
  }
}