.blocks-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.block {
  background-color: var(--highlight-color);
  width: 100%;
}
