.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  border: 2px solid var(--secondary-color);
  border-bottom: none;
}

.code-container {
  padding: 1rem;
  font-size: 1.5rem;
}

.code-container code {
  font-family: "Victor Mono", monospace;
  font-size: 16px;
}

.codes-container {
  display: flex;
  list-style: none;
  gap: 32px;
  padding: 1rem;
}

.copy-clipboard,
.copy-clipboard-copied {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--tertiary-color);
  transition: 0.2s ease-in-out;
  margin-right: 1rem;
}

.copy-clipboard-copied {
  scale: 1.1;
  color: var(--tertiary-brighty-color);
}

.copy-clipboard:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
  color: var(--tertiary-brighty-color);
}

.code,
.code-selected {
  position: relative;
  cursor: pointer;
  display: grid;
  place-content: center;
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.code:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: appear ease-in-out 0.2s;
  border-radius: 8px;
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
}

.code-selected {
  color: var(--highlight-color);
}

.code-selected::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 8px;
  border-top: 2px solid var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
}

@keyframes appear {
  0% {
    width: 0;
  }

  100% {
    width: 100;
  }
}
