.configuration-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 1rem;
}

.play-sort {
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--highlight-color);
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.2s;
  border: 2px solid var(--highlight-color);
}

.play-sort:hover {
  transition: 0.2s;
  background-color: var(--primary-brighty-color);
}

.play-sort > svg {
  transition: 0.2s;
}

.play-sort:hover > svg {
  transition: 0.2s;
  color: var(--highlight-brighty-color);
}
