.option, .option-selected {
  list-style: none;
  color: var(--tertiary-brighty-color);
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  width: 150px;
  margin: 7px 0;
}

.option:hover {
  border: 2px solid var(--tertiary-color);
}

.option-selected {
  border: 2px solid var(--highlight-color);
  color: var(--highlight-color);
}