.playground-container {
  display: flex;
  flex-direction: column;
}

.playground-type {
  display: grid;
  gap: 1rem;
}

.click-all {
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
}