.playground-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.algorithm-button {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  aspect-ratio: 1;
  cursor: pointer;
  color: var(--tertiary-brighty-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.algorithm-button:hover {
  color: var(--highlight-color);
}

@media (width <= 520px){
  .algorithm-button {
    gap: 4px;
    font-size: 10px;
  }

  .algorithm-button svg {
    width: 20px;
    height: 20px;
  }
}