.playground-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.click-all,
.algorithm-button {
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  aspect-ratio: 1;
  cursor: pointer;
  width: 100%;
}

.algorithm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-color: var(--secondary-color);
}
