.selection-container {
  margin: 30px 0;
  border-radius: 10px;
  border-left: 3px solid var(--highlight-color);
  border-right: 3px solid var(--highlight-color);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

@media (width <= 1080px){
  .selection-container {
    font-size: 12px;
  }
}

@media (width <= 857px){
  .selection-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width <= 670px){
  .selection-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 530px){
  .selection-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (width <= 350px){
  .selection-container {
    grid-template-columns: 1fr;
  }
}