.sortoptions-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sortoption {
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--highlight-color);
}

.sortoption:hover {
  background-color: var(--tertiary-color);
}