.sortoptions-container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sortoption {
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  font-weight: bold;
  background-color: var(--primary-brighty-color);
  color: var(--tertiary-brighty-color);
}

.sortoption:hover {
  background-color: var(--secondary-color);
}

@media (width <= 480px){
  .sortoptions-container {
    flex-direction: column;
  }
}