*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #060014;
  --primary-brighty-color: #0f0033;
  --secondary-color: #16004d;
  --tertiary-color: #3F0071;
  --tertiary-brighty-color: #a0a7d2;
  --highlight-color: #FB2576;
}

.bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: radial-gradient(ellipse 80% 80% at 50% -20%, var(--secondary-color), var(--primary-color));
}

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}