*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #060014;
  --secondary-color: #16004d;
  --tertiary-color: #3F0071;
  --tertiary-brighty-color: #a0a7d2;
  --highlight-color: #FB2576;
}

html {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}