*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2D3250;
  --secondary-color: #424769;
  --tertiary-color: #7077A1;
  --tertiary-brighty-color: #a0a7d2;
  --highlight-color: #F6B17A;
}

html {
  color-scheme: dark;

}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

.main-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}